description = "Footer"

[viewBag]
==
<footer id="footer" class="footer">

    <div class="container">

        <div class="row">

            <div class="col-xs-12 col-sm-4">

                {% if this.theme.footer_logo_file %}

                    <a class="brand" href="{{ '/'|app }}">

                        <img src="{{ this.theme.footer_logo_file|media }}"
                            alt="{{ this.theme.site_name }}"
                            width="{{ this.theme.footer_logo_file_width }}"
                            height="{{ this.theme.footer_logo_file_height }}">

                    </a>

                {% else %}

                    <span>Footer</span>

                {% endif %}

            </div>

        </div>

    </div>

</footer>
