description = "Footer"

[viewBag]

[staticMenu main_menu_en]
code = "main-menu-en"

[staticMenu main_menu_cs]
code = "main-menu-cs"

[staticMenu footer_links_menu_cs]
code = "footer-links-menu-cs"
==
<footer id="footer" class="footer">

    <div class="container">

        <div class="row">

            <div class="col-xs-12 col-sm-3">

                {% if this.theme.footer_logo_file %}

                    <a class="footer-brand" href="{{ '/'|app }}">

                        <img src="{{ this.theme.footer_logo_file|media }}"
                            alt="{{ this.theme.site_name }}"
                            width="{{ this.theme.footer_logo_file_width }}"
                            height="{{ this.theme.footer_logo_file_height }}">

                    </a>

                {% else %}

                    <a class="footer-brand">{{ this.theme.getConfig.name }}</a>

                {% endif %}

                <div class="footer-brand-content">
                
                    {% content "footer" %}

                </div>

            </div>

            <div class="col-xs-12 col-sm-4 col-sm-offset-1 footer-menu">

                <div class="border-block">
                
                    <h2 class="title">MAIN MENU</h2>

                    {% set items = attribute(_context, ('main_menu_'~locale) ).menuItems %}

                    {% partial 'default/menu-items' items=items class='footer-menu-nav' %}

                </div>

            </div>

            <div class="col-xs-12 col-sm-4 footer-menu">

                <div class="border-block">
                
                    <h2 class="title">CONTACT</h2>

                    {% content 'footer-contacts' %}

                </div>

            </div>

        </div>

    </div>

    <div class="author-container">
    
        <div class="container">

            <div class="col-xs-12">
            
                <p class="author">
                
                    {% content 'footer-author' %}
                
                </p>
            
            </div>
        
        </div>

    </div>

</footer>
