####
##  ASSETS

/assets/css/*
!/assets/css/custom/.gitignore
!/assets/css/default.less
!/assets/css/default

/assets/images/*
!/assets/images/.gitignore

/assets/js/*
!/assets/js/default.js

!/assets/vendor/.gitignore
!/assets/vendor/bootstrap/*
!/assets/vendor/font-awesome/*
!/assets/vendor/html5shiv/*
!/assets/vendor/jquery/*
!/assets/vendor/lightcase/*
!/assets/vendor/respond/*
!/assets/vendor/swiper/*


####
##  CONTENT

/content/*
!/content/.gitignore

####
##  LAYOUTS

/layouts/*
!/layouts/default
!/layouts/custom/.gitignore

####
##  META

/meta/*
!/meta/.gitignore

####
##  PAGES

/pages/*
!/pages/default

####
##  PARTIALS

!/partials/default
/partials/custom/*
!/partials/custom/.gitignore


####
##  OTHER

.DS_Store
