description = "Title block"
==

<div class="container page-content-block title-content-block">

    <div class="row">

        <div class="col-xs-12 col-md-6">
        
            <h1 class="title">{{ contentTitle }}</h1>
            
            <div class="content">{{ contentText|raw }}</div>

            {% if contentBtns|length %}

                <div class="content-btns">

                    {% for btn in contentBtns %}

                        <a href="{{ btn.contentBtnLink }}" class="btn btn-primary">{{ btn.contentBtnTitle }}</a>

                    {% endfor %}

                </div>

            {% endif %}

        </div>

        <div class="col-xs-12 col-md-6">

            {% if contentImage %}

                <img class="thumbnail" src="{{ contentImage|media }}" alt="{{contentImageAlt ? contentImageAlt : contentTitle}}">

            {% endif %}

            {% if showContactform %}

                <h3 class="contact-form-title">Leave a message</h3>

                {% component "contactForm" %}

            {% endif %}

        </div>

    </div>

</div>