/* marck-script-regular - latin_latin-ext */
@font-face {
  font-family: 'Marck Script Local';
  font-style: normal;
  font-weight: 400;
  src: url('default/fonts/marck-script-v7-latin_latin-ext/marck-script-v7-latin_latin-ext-regular.eot'); /* IE9 Compat Modes */
  src: local('Marck Script Local'), local('MarckScript-Local-Regular'),
       url('default/fonts/marck-script-v7-latin_latin-ext/marck-script-v7-latin_latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('default/fonts/marck-script-v7-latin_latin-ext/marck-script-v7-latin_latin-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('default/fonts/marck-script-v7-latin_latin-ext/marck-script-v7-latin_latin-ext-regular.woff') format('woff'), /* Modern Browsers */
       url('default/fonts/marck-script-v7-latin_latin-ext/marck-script-v7-latin_latin-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('default/fonts/marck-script-v7-latin_latin-ext/marck-script-v7-latin_latin-ext-regular.svg#MarckScript') format('svg'); /* Legacy iOS */
}
