// main: ../styles.less

html {
    background: lighten(black, 95%);
}

body {
    max-width: 1440px;
    margin: 0 auto;
}

a {
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }

    &:visited {
        color: @link-color-visited;
    }

}

/*
*   Typography
*/

h1, h2, h3, h4, h5, h6 {
    font-weight: 800;
    margin-bottom: 25px;
}


/*
*   Text helpers
*/

.text-secondary {
    color: @secondary;
}

/*
*   Buttons
*/
.btn {
    font-weight: 800;
    font-size: (@font-size-base - 3);
    padding: 12px 30px 10px 30px;
    text-transform: uppercase;
    transition: all 0.3s;
    text-decoration: none;

    &:visited {
        color: white;
    }    
}


/*
*    Full height columns
*/
.row-full-height {
    height: 100%;
    // width: 100%;
    display: table;
    @media(max-width: @screen-xs-max) {
        display: block;
        height: auto;
        width: auto;
    }
}

.col-full-height {
    float: none;
    display: table-cell;
    vertical-align: top;
    height: 100%;
    position: relative;
    @media(max-width: @screen-xs-max) {
        float: left;
        display: block;
        height: auto;
    }

    +.collapse {
        @media(max-width: @screen-xs-max) {
            display: none;
        }
    }
}

/**
*   Columns
*/
.col-inner {
    padding: 0 50px;

    @media(max-width: @screen-xs-max) {
        padding: 0;
    }
}

.col-inner-left {
    .col-inner;
    padding-left: 0;
}

.col-inner-right {
    .col-inner;
    padding-right: 0;
}
