description = "Default layout"

[staticPage]
useContent = true
default = true
childLayout = "default"
==
<?php

    function onStart() {

        $this['locale'] = App::getLocale();

    }

?>
==
<!DOCTYPE html>
<html lang="{{ locale ? locale : 'en' }}">

    {% put styles %}

        <link rel="stylesheet"
                href="{{ ['assets/css/styles.less'] |theme }}.css">

    {% endput %}

    {% partial "head" %}

    <body class="layout-{{ this.layout.id }} page-{{ page.id ? page.id : this.page.id }}">

        {% if showHeader %}
            {% partial "header" %}
        {% endif %}

        {% if showBanner %}
            {% partial "default/banner" %}
        {% endif %}

        {% page %}

        {% if showTestimonials %}
            {% partial "default/testimonials" %}
        {% endif %}

        {% if showCTA %}
            {% partial "default/cta" %}
        {% endif %}

        {% if showFooter %}
            {% partial "footer" %}
        {% endif %}

        {% partial "scripts" %}

        {% scripts %}

    </body>

    <!--

    {variable tab="Banner" type="checkbox" name="showBanner" label="Zobrazit banner" span="full" default="false"}{/variable}
    {variable tab="Banner" type="text" name="bannerTitle" label="Nadpis" span="full"}{/variable}
    {variable tab="Banner" type="richeditor" name="bannerContent" label="Obsah" span="full"}{/variable}

    {variable tab="Mapa" type="section" label="Střed mapy a přiblížení" span="full"}
    {variable tab="Mapa" type="text" name="mapLat" label="Zeměpisná délka" span="left" comment="Např.: 49.1234567"}{/variable}
    {variable tab="Mapa" type="text" name="mapLng" label="Zeměpisná šířka" span="right" comment="Např.: 18.1234567"}{/variable}
    {variable tab="Mapa" type="text" name="mapZoom" label="Přiblížení" span="full" comment="Číslo 1-20"}{/variable}

    {repeater tab="Mapa" name="mapPins" prompt="Přidat bod na mapu" label="Body na mapě"}
        {variable tab="Mapa" type="text" name="mapPinTitle" label="Název bodu" span="full"}{/variable}
        {variable tab="Mapa" type="text" name="mapPinLat" label="Zeměpisná délka" span="left" comment="Např.: 49.1234567"}{/variable}
        {variable tab="Mapa" type="text" name="mapPinLng" label="Zeměpisná šířka" span="right" comment="Např.: 18.1234567"}{/variable}
        {variable type="richeditor" name="mapPinContent" label="Text u připínáčku v mapě" span="full" commentAbove="Text se zobrazí po klepnutí na symbol připínáčku v mapě"}{/variable}
    {/repeater}

    {variable tab="Volby" type="checkbox" name="showHeader" label="Zobrazit hlavičku" span="full" default="false"}{/variable}
    {variable tab="Volby" type="checkbox" name="showTestimonials" label="Zobrazit panel ohlasů/referencí" span="full" default="false"}{/variable}
    {variable tab="Volby" type="checkbox" name="showCTA" label="Zobrazit panel CTA (výzva k akci)" span="left" default="false"}{/variable}
    {variable tab="Volby" type="checkbox" name="showCTALine" label="Zobrazit linku nad panelem CTA" span="right" default="false"}{/variable}
    {variable tab="Volby" type="checkbox" name="showFooter" label="Zobrazit patičku" span="left" default="false"}{/variable}

    -->

</html>
