description = "Blog posts list"
==

<div class="row posts-list">
    
    {% for item in items %}

        <div class="col-xs-12 col-md-6 col-lg-4 post {{ cssClass }}">

            {% if disableMeta is empty %}
            
                <div class="meta">
                    
                    <p class="date">{{ item.published_at|date('j.n.Y') }}</p>
                    
                    <p class="category">

                        {% if item.categories|length %}

                            {% for category in item.categories %}

                                <a href="{{categoryPage|page({(categoryPageSlug):category.slug})}}">{{ category.name }}</a>{% if loop.last is empty %}, {% endif %}

                            {% endfor %}

                        {% endif %}

                    </p>

                </div>
            
            {% endif %}
            
            <{{ titleTag ? titleTag : 'h2'}} class="title">
            
                <strong>
                
                    <a href="{{ item.url ? item.url : blogPostPage|page({(blogPostPageSlug):item.slug}) }}">{{ item.title }}</a>
                
                </strong>
                
            </{{ titleTag ? titleTag : 'h2'}}>

            {% if excerptLength is empty %}
                {% set excerptLength = 300 %}
            {% endif %}

            {% if disableExcerpt is empty %}
                <div class="content">
                    {{ item.content|raw|striptags|replace({'&nbsp;':' '})|slice(0,excerptLength) }}{{ item.content|raw|striptags|length>excerptLength ? '...'}}
                </div>
            {% endif %}

            <p class="read-more">
                <a class="btn-link" href="{{ item.url ? item.url : blogPostPage|page({(blogPostPageSlug):item.slug}) }}">Read more</a>
            </p>
        </div>

        {% if loop.index is divisible by (2) %}

            <div class="col-xs-12 hidden visible-md"></div>

        {% endif %}

        {% if loop.index is divisible by (3) %}

            <div class="col-xs-12 hidden visible-lg"></div>

        {% endif %}

    {% endfor %}


    {% if disablePaginator is empty %}

        <div class="col-xs-12 text-center">

            {#{% partial "default/paginator" paginator = items page = 'default/blog-posts' slug = 'page' %}#}
            {{ items.render|raw }}

        </div>

    {% endif %}

</div>
