description = "CTA"
==

<div class="page-block-container cta">

    {% if showCTALine %}

        <div class="cta-line">

            <div class="full-line"></div>

        </div>

    {% endif %}

    <div class="container">

        <div class="row">

            <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 cta-content">

                {% if content("cta.htm") %}
                    {% content "cta.htm" %}
                {% endif %}

            </div>

        </div>

    </div>

</div>
