description = "Gallery"

==

{% if records is empty %}
    {% set records = galleries.items %}
{% endif %}

<div class="gallery {{ customCss }}" {% if blockId %}id="{{blockId}}"{% endif %}>

    <div class="container">
    
        <div class="row">

            {% if blockTitle or blockContent %}

                <div class="col-xs-12 col-lg-10">
                
                    {% if blockTitle %}
                        <h2 class="title">{{ blockTitle }}</h2>
                    {% endif %}
                    
                    {% if blockContent %}
                        
                        <div class="content">{{ blockContent|raw }}</div>
                    
                    {% endif %}
                
                </div>

            {% endif %}

            {% if records|length == 0 %}
                
                <div class="col-xs-12">
                    <br>
                    <p>No galleries found.</p>
                    <p>
                        <em>Let's add some in backend Gallery :)</em>
                    </p>

                </div>

            {% endif %}

            {% for record in records %}

                <div class="col-xs-12 gallery-box {{ loop.first ? 'first-child' }}">

                    <h3 class="title">
                        {{ record.name }}
                    </h3>

                    {% if record.images|length %}

                        {% for image in record.images %}

                            <a class="thumbnail" 
                                href="{{ image.getPath() }}" 
                                title="{{ image.title ? image.title : (record.name~' / Image '~loop.index) }} {{ image.description ? (' - '~image.description) }}"
                                style="background-image: url({{ image.getThumb(200,200) }}); "
                                data-rel="lightcase:{{record.slug}}">
                            </a>

                        {% endfor %}

                    {% endif %}

                </div>

            {% endfor %}
        
        </div>
    
    </div>

</div>

{% put scripts %}

    <script>
        jQuery(document).ready(function($) {
            $('a[data-rel^=lightcase]').lightcase({
                swipe: true,
                slideshow: true,
                labels: {
                    'errorMessage': 'Obrázek nebyl nalezen ...',
                    'sequenceInfo.of': ' z ',
                    'close': 'Zavřít',
                    'navigator.prev': 'Předchozí',
                    'navigator.next': 'Následující',
                    'navigator.play': 'Přehrát',
                    'navigator.pause': 'Zastavit'
                },
                maxHeight: 1000,
                maxWidth: 1200
            });
        });
    </script>

{% endput %}