description = "Header"

[staticMenu main_menu_cs]
code = "main-menu-cs"

[viewBag]
==
<header id="header" class="container">

    <nav class="navbar navbar-default">

        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button"
                        class="navbar-toggle collapsed"
                        data-toggle="collapse"
                        data-target="#navbar"
                        aria-expanded="false">MENU</button>

                <a class="navbar-brand"
                    href="{{ '/'|app }}">

                    {% if this.theme.header_logo_file %}
                        <img src="{{ this.theme.header_logo_file|media }}"
                             alt="{{ this.theme.site_name }}" width="{{ this.theme.header_logo_file_width }}" height="{{ this.theme.header_logo_file_height }}">
                    {% else %}
                        {{ this.theme.site_name }}
                    {% endif %}

                </a>

            </div>

            <div id="navbar"
                class="navbar-collapse collapse">

                    {% partial 'default/menu-items' items=attribute(_context, ('main_menu_'~locale) ).menuItems class='nav navbar-nav navbar-right navbar-nav-primary' %}

            </div>

        </div>

    </nav>

</header>
