description = "Mapy.cz"
==

<div id="map"></div>

{% put scripts%}

    <script type="text/javascript" src="//api.mapy.cz/loader.js"></script>
    <script type="text/javascript">Loader.load();</script>

    <script>
        /**
         *	Mapy.cz
         */

        var center = SMap.Coords.fromWGS84({{ mapLng }}, {{ mapLat }});
        var m = new SMap(JAK.gel("map"), center, {{ mapZoom }});
        m.addDefaultLayer(SMap.DEF_BASE).enable();
        m.addDefaultControls();

        /**
        *   Disable mouse scroll
        */
        var controls = m.getControls();
        for (var i=0;i<controls.length;i++) {
            if (controls[i] instanceof SMap.Control.Mouse) {
                controls[i].configure(SMap.MOUSE_PAN | SMap.MOUSE_ZOOM);
            }
        }

        {% if mapPins|length %}


            {% for pin in mapPins if (pin.mapPinLng and pin.mapPinLat) %}

                var c = new SMap.Card(null, { anchor: { left: 0, top: -35 } });
                c.setSize(300, 200); /* Šířka, výška */

                c.getHeader().innerHTML = '{% spaceless %}<small>{{ pin.mapPinContent|replace({"\n":' ', "\r":' '})|raw }}</small>{% endspaceless %}';

                c.getBody().style.margin = "5px 0px";
                c.getBody().style.backgroundColor = "#fff";

                var layer = new SMap.Layer.Marker();
                m.addLayer(layer).enable();

                var marker = new SMap.Marker( SMap.Coords.fromWGS84({{ pin.mapPinLng }}, {{ pin.mapPinLat }}) );
                marker.decorate(SMap.Marker.Feature.Card, c);
                layer.addMarker(marker);

            {% endfor %}

        {% endif %}


    </script>

{% endput %}
