description = "Testimonials"

[viewBag]
snippetCode = "testimonials"
snippetName = "Panel: Testimonials"

[staticMenu testimonials]
code = "testimonials"
==
{% if testimonials.menuItems|length %}

    <div class="testimonials">

        <div class="testimonial-border-top"></div>
        <div class="testimonial-border-bottom"></div>

        {% if testimonials.menuItems|length > 1 %}
            <div class="swiper-button swiper-button-prev"></div>
            <div class="swiper-button swiper-button-next"></div>
        {% endif %}

        <div class="container">

            <!-- Swiper -->
            <div class="swiper-container testimonials-swiper-container">

                <div class="swiper-wrapper">

                    {% for item in testimonials.menuItems %}

                        <div class="swiper-slide slide-{{ (loop.index0) }}">

                            <div class="testimonial-image-container">
                                
                                {% if item.viewBag.image %}
                                
                                    <div class="image" style="background-image: url({{ item.viewBag.image|media }});"></div>
                                
                                {% else %}

                                    <div class="image image-empty image-fake"></div>

                                {% endif %}

                            </div>

                            <div class="testimonial-text-container">

                                <div class="testimonial-content">{{ item.viewBag.note|nl2br }}</div>

                                <div class="testimonial-author">{{ item.title }}</div>

                            </div>

                        </div>

                    {% endfor %}

                </div>

            </div>

        </div>

    </div>


    {% put scripts %}

        <!-- Initialize Swiper -->
        <script>

            var swiper;
            function swiperInit() {

                swiper = new Swiper('.swiper-container', {

                {% if testimonials.menuItems|length > 1 %}
                    navigation: {
                      nextEl: '.swiper-button-next',
                      prevEl: '.swiper-button-prev',
                    },
                    loop: true,
                    paginationClickable: true,
                    keyboardControl: true,
                {% else %}
                    loop: false,
                {% endif %}

//                  pagination: '.swiper-pagination',
                    effect: 'slide',
                    slidesPerView: 1,
                    spaceBetween: 0,
                    autoplay: false,
                    speed: 900,
                    preloadImages: false,
                    lazyLoading: false
                });

            }

            function setSlideCaption(swiper) {
                imageTitle = $('.slide-' + getSlideDataIndex(swiper) ).data('title');
                imageUrl = $('.slide-' + getSlideDataIndex(swiper) ).data('url');
                imageUrlText = $('.slide-' + getSlideDataIndex(swiper) ).data('url-text');

                $('#slider-caption').text(imageTitle);
                $('#slider-url').attr("href", imageUrl);

                if(imageUrlText) {
                    $('#slider-url').text(imageUrlText);
                } else {
                    $('#slider-url').text('Více informací');
                }

            }

            function getSlideDataIndex(swipe){
                var activeIndex = swipe.activeIndex;
                var slidesLen = swipe.slides.length;
                if(swipe.params.loop){
                    switch(swipe.activeIndex){
                        case 0:
                            activeIndex = slidesLen-3;
                            break;
                        case slidesLen-1:
                            activeIndex = 0;
                            break;
                        default:
                            --activeIndex;
                    }
                }
                return  activeIndex;
            }

            $(document).ready(function () {
                swiperInit();
            });

            $('.more-btn').on('click', function () {
                $('.more-btn').toggleClass('hidden');
            });

        </script>

    {% endput %}

{% endif %}
